*,
*::before,
*::after {
  box-sizing: border-box;
}

.viewScores {
  display: flex;
  left: 40px;
  top: 0;
  cursor: pointer;
}

.time {
  display: flex;
  flex-direction: row;
  right: 20px;
  font-size: 15px;
  margin-top: 15px;
  font-weight: bold;
  
}

.time span {
  margin-left: 5px;
}
.viewScores, .time {
    position: absolute;
    color: rgb(61, 29, 29);
    
}

.first-page, .quiz, .position, .viewScoresMain {
  padding-top: 50px;
  color: rgb(61, 29, 29);
  /*display: none;*/
}

header {
  text-align: center;
}

h1 {
  text-shadow: 1px 1px coral;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.start {
  border: solid #ffff 2px;
  background-color: rgb(241, 102, 83);
  border-radius: 25px;
  box-shadow: coral 0px 2px 10px 0px;
  color: #ffff;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  /*display: none;*/
}

.start:hover {
  background: rgb(61, 29, 29);
  color: coral;
}

.quiz {
  display: block;
  position: absolute;
  margin-left: 35%;
  display: none
}

.options h4 {
  display:block;
  color: #ffff;
  background-color: coral;
  width: 10rem;
  cursor: pointer;
}

.options h4:hover {
  background: #ffff;
  color: rgb(241, 102, 83);

}

.progress {
  color: grey;
  border-top: solid 2px grey;
  display: flex;
  align-items: flex-start;
  position: absolute;
  margin-left: 35%;
  margin-top: 20rem;
  display: none;
}
.results {
  text-align: center;
  padding-top: 50px;
  color: rgb(61, 29, 29);
  display: none;
}

.submit {
  border: solid #ffff 2px;
  background-color: rgb(241, 102, 83);
  border-radius: 25px;
  box-shadow: coral 0px 2px 10px 0px;
  color: #ffff;
  cursor: pointer;
}

.submit:hover{
  background: #ffff;
  color: rgb(241, 102, 83);
}

.position {
  text-align: center;
  display: none;
}

ol {
  background: rgb(241, 102, 83);
  opacity: 70%;
  color: #ffff;
  display: flex;
  flex-direction: column;
  width: 8rem;
  padding-left: 1rem;
  margin-left: 44%;
 
}

.back, .clear {
  border: solid #ffff 2px;
  background-color: rgb(241, 102, 83);
  border-radius: 25px;
  box-shadow: coral 0px 2px 10px 0px;
  color: #ffff;
  cursor: pointer;
}

.back:hover {
  background: #ffff;
  color: rgb(241, 102, 83);
}

.clear:hover {
  background: rgb(61, 29, 29);
  color: coral;
}
